<ion-header>
  <ion-toolbar>
    <app-navigation></app-navigation>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="tree">
  <ion-card>
    <ion-card-header>
      <ion-card-title>ID: {{ tree.idTree }}</ion-card-title>
      <ion-card-subtitle>{{ tree.address }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- Image Section -->
      <ion-item *ngIf="tree.pathPhoto">
        <ion-label>Foto</ion-label>
        <img [src]="tree.pathPhoto" alt="Sin foto" />
      </ion-item>

      <!-- General Information -->
      <ion-item>
        <ion-label><strong>Barrio:</strong> {{ tree.neighborhoodName || "N/A" }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Manzana:</strong> {{ tree.cityBlock || "N/A" }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label
          ><strong>Árboles en la cuadra:</strong> {{ tree.treesInTheBlock || "N/A" }}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label
          ><strong>¿Es árbol faltante?</strong> {{ tree.isMissing ? "Si" : "No" }}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label><strong>¿Está muerto?</strong> {{ tree.isDead ? "Si" : "No" }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label
          ><strong>¿Tiene raices expuestas?</strong>
          {{ tree.exposedRoots ? "Si" : "No" }}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label><strong>Perímetro:</strong> {{ tree.perimeter || "N/A" }} m</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Altura:</strong> {{ tree.height || "N/A" }} m</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Inclinación:</strong> {{ tree.incline || "N/A" }} °</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Valor del árbol:</strong> {{ tree.treeValue || "N/A" }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label
          ><strong>¿Qué hay bajo el arbol?(blanco)</strong>
          {{ tree.useUnderTheTree || "N/A" }}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label
          ><strong>¿Con qué frecuencia se encuentra?</strong>
          {{ tree.frequencyUse || "N/A" }}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label
          ><strong>Potencial de daño del arbol o rama si se cae:</strong>
          {{ tree.potentialDamage || "N/A" }}</ion-label
        >
      </ion-item>
      <!-- Condition Flags -->
      <ion-item>
        <ion-label
          ><strong>¿Se puede mover el blanco bajo del árbol?</strong>
          {{ tree.isMovable ? "Si" : "No" }}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label
          ><strong>¿Se puede restringir el blanco bajo del árbol?</strong>
          {{ tree.isRestrictable ? "Si" : "No" }}</ion-label
        >
      </ion-item>

      <!-- Risk & Value Information -->
      <ion-item>
        <ion-label><strong>Nivel de riesgo:</strong> {{ tree.risk || "N/A" }}</ion-label>
      </ion-item>

      <!-- Tree Type Information -->
      <ion-item>
        <ion-label><strong>Tipo de arbol:</strong> {{ tree.treeTypeName || "N/A" }}</ion-label>
      </ion-item>
      <ion-item *ngIf="tree.gender">
        <ion-label><strong>Género:</strong> {{ tree.gender }}</ion-label>
      </ion-item>
      <ion-item *ngIf="tree.species">
        <ion-label><strong>Especie:</strong> {{ tree.species }}</ion-label>
      </ion-item>
      <ion-item *ngIf="tree.scientificName">
        <ion-label><strong>Nombre científico:</strong> {{ tree.scientificName }}</ion-label>
      </ion-item>

      <!-- Defects Section -->
      <ion-item *ngIf="tree.defectDto.length > 0">
        <ion-label><strong>Defectos:</strong></ion-label>
        <ion-list>
          <ion-item *ngFor="let defect of tree.defectDto">
            <p>
              {{ defect.defectName }} - Severidad: {{ defect.textDefectValue }}
              <span *ngIf="defect.branches">Ramas afectadas: {{ defect.branches }}</span>
            </p>
          </ion-item>
        </ion-list>
      </ion-item>
      
      <!-- Other Tree Information -->
      <ion-item *ngIf="tree.conflictsNames.length > 0">
        <ion-label><strong>Conflcitos:</strong> {{ tree.conflictsNames.join(", ") }}</ion-label>
      </ion-item>
      <ion-item *ngIf="tree.diseasesNames.length > 0">
        <ion-label><strong>Enfermedades:</strong> {{ tree.diseasesNames.join(", ") }}</ion-label>
      </ion-item>
      <ion-item *ngIf="tree.interventionsNames.length > 0">
        <ion-label
          ><strong>Intervenciones necesarias:</strong>
          {{ tree.interventionsNames.join(", ") }}</ion-label
        >
      </ion-item>
      <ion-item *ngIf="tree.pestsNames.length > 0">
        <ion-label><strong>Plagas:</strong> {{ tree.pestsNames.join(", ") }}</ion-label>
      </ion-item>

      <!-- Location Information -->
      <ion-item>
        <ion-label><strong>Latitud:</strong> {{ tree.latitude || "N/A" }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Longitud:</strong> {{ tree.longitude || "N/A" }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-row class="ion-justify-content-center button-container">
    <ion-button expand="block" color="primary" (click)="updateTree()">
      Actualizar Árbol
    </ion-button>
  </ion-row>
</ion-content>
