<ion-header>
  <ion-toolbar>
    <app-navigation></app-navigation>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Árboles del proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-input
        placeholder="Ingrese el ID del árbol"
        [(ngModel)]="filterId"
        type="number"
        clearInput
      >
      </ion-input>
    </ion-card-header>
    <ion-list *ngIf="trees.length > 0; else noTrees">
      <ion-item *ngFor="let tree of filteredTrees">
        <ion-label (click)="viewTreeDetails(tree.idTree)">
          <div class="tree-info">
            <p class="tree-id">ID: {{ tree.idTree }}</p>
            <p><span class="label">Dirección:</span> {{ tree.address }}</p>
            <p>
              <span class="label">Fecha:</span>
              {{ tree.datetime | date: "short" }}
            </p>
            <p>
              <span class="label">Valor del árbol:</span>
              {{ tree.treeValue || "N/A" }}
            </p>
            <p><span class="label">Riesgo:</span> {{ tree.risk || "N/A" }}</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    <ng-template #noTrees>
      <ion-item>
        <ion-label>Aún no se registraron árboles en este proyecto</ion-label>
      </ion-item>
    </ng-template>
  </ion-card>
</ion-content>
