
.header {
    display: flex;    
    justify-content: space-between;
    background: linear-gradient(135deg, #0f1a0f, #1f3d1f);
    padding: 40px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    align-items: center;  
  }
  
  .nav {
    display: flex;
    gap: 25px;
  }
  
  .nav-link {
    color: #1A865F;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
  }

  .nav-link-home{
    color: #1A865F;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1rem;
    padding-bottom: 5px;
    position: relative;
    transition: color 0.3s;
    justify-content: flex-start !important;    
  }
  
  .nav-link:hover {
    color: #ffff;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #b8ffa9;
    transition: width 0.3s;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }

  .nav-link-home:hover {
    color: #3bae24;
  }
  
  .nav-link-home::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #b8ffa9;
    transition: width 0.3s;
  }
  
  .nav-link-home:hover::after {
    width: 100%;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 40px 20px;
    background-color: #EFF2F9;
}

.project-card {
  background-color: #D0E7D2;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #1A865F;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF2F9;
    padding: 10px;
    border-radius: 5px;
}

.project-details {
    margin-right: 20px;
}

.button-row {
    display: flex;
    gap: 10px;
}

* {
    font-family:'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  overflow-y: auto;
}

.formulario-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-color: #EFF2F9;
    padding: 20px;
    margin-top: -20px;
    overflow-y: auto;
}

.formulario {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.formulario h2 {
    text-align: center;
    font-size:large;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}


.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #3cb371;
    background-color: #444;
    color: #fff;
}

.form-buttons {
    display: flex;  
}


.muestreo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}



.button:hover {
    background-color: #1A865F;
}

.barrios-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.barrio {
    display: flex;
    align-items: center;
    gap: 10px;
}

.barrio-name {
    background-color: #555;
    color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    min-width: 100px;
    text-align: center;
    font-weight: bold;
}

form {
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0.4, 0.4);
}

form div {
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="date"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3cb371;
    color: 4F4F4F;
    font-size: 1rem;
}

form textarea {
    resize: vertical;
    min-height: 80px;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

.container {
    margin-bottom: 20px !important;
    overflow-y: scroll !important;
    max-height: 100vh !important;
    padding: 10px !important;
  }
  
  .title {
    font-size: 1.5rem !important;
    font-weight: bold !important;
  }
  
  .list-container {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
  }

  .tree-toggle-icon {
    margin-left: 10px;
    transition: transform 0.4s;
  }
  
  .tree-toggle-icon.expanded {
    transform: rotate(180deg);
  }
  
  .tree-item {
    display: flex !important;
    max-width: 100% !important;
    flex-direction: column !important;
  }
  .tree-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  
  .tree-header button {
    flex: 1;
    max-width: calc(100% - 80px);
  }
  
  .delete-button {
    flex: 0 0 auto;
  }
   
  
  .toggle-icon {
    float: right !important;
    transition: transform 0.3s ease !important;
  }
  
  .delete-button {
    background: red !important;
    color: white !important;
    border: none !important;
    padding: 5px 10px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    margin-left: 10px !important;
  }
  
  .tree-details {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    gap: 20px !important;
    padding: 10px !important;
    background: #fff !important;
    border-radius: 5px !important;
    margin-top: 5px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
    overflow-y: auto !important;
  }
  
  .tree-info {
    flex: 1 !important;
  }
  
  .tree-image-container {
    flex-shrink: 0 !important;
  }
  
  .tree-image {
    width: 100vh !important;
    height: auto !important;
    border-radius: 8px !important;
  }

  /* Responsive telefonos */
@media (max-width: 768px) {
    .container {
      padding: 5px !important;
    }
  
    .title {
      font-size: 1.2rem !important;
    }
  
    .list-container {
      gap: 8px !important;
    }
  
    .tree-item {
      max-width: 100% !important;
    }
  
    .tree-details {
      flex-direction: column !important;
      align-items: center !important;
      gap: 10px !important;
    }
  
    .tree-image {
      width: 60vh !important; 
      max-width: 200vh !important;
    }
  }
  
  /* Responsive para pantallas 480px (modo retrato) */
  @media (max-width: 480px) {
    .title {
      font-size: 1rem !important;
    }
  
    .tree-image {
      width: 50vh !important;
      max-width: 100vh !important;
    }
  }
  

  /* General */
.container {
    padding: 20px !important;
    max-height: 100vh !important;
    overflow-y: auto !important;
  }
  
  h2, h1, h3 {
    margin-bottom: 10px !important;
  }
  
  /* Tabla */
  .table-container {
    display: flex !important;
    gap: 20px !important;
    padding: 20px !important;
  }
  
  .table-wrapper {
    flex: 1 !important;
  }
  
  .table {
    width: 100% !important;
    border-collapse: collapse !important;
    text-align: center !important;
  }
  
  .table-header {
    background-color: #f2f2f2 !important;
  }
  
  .table-cell {
    border: 1px solid #ddd !important;
    padding: 8px !important;
  }
  
  .table-cell.bold {
    font-weight: bold !important;
  }
  
  /* Formulario */
  .form-container {
    padding: 20px !important;
    margin-bottom: 5% !important;
  }
  
  .input-container {
    margin-bottom: 20px !important;
  }
  
  .input-field {
    width: 100% !important;
    margin-bottom: 10px !important;
    padding: 8px !important;
  }
  
  
  .campaign-list {
    list-style-type: none !important;
    padding: 0 !important;
  }
  .campaign-item {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

.mod-container {
    padding: 20px !important;
    max-height: 100vh !important;
    overflow-y: auto !important;
}

.mod-h1 {
    margin-bottom: 10px !important;
}

/* Tabla */
.mod-table-container {
    display: flex !important;
    gap: 20px !important;
    padding: 20px !important;
}

.mod-table-wrapper {
    flex: 1 !important;
}

.mod-table {
    width: 100% !important;
    border-collapse: collapse !important;
    text-align: center !important;
}

.mod-table-header {
    background-color: #f2f2f2 !important;
}

.mod-table-cell {
    border: 1px solid #ddd !important;
    padding: 8px !important;
}

.mod-table-cell.bold {
    font-weight: bold !important;
}

.edit-campaign-list {
    list-style-type: none !important;
    padding: 0 !important;
}

.edit-campaign-item {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

/* General */
.mod-container {
    padding: 20px !important;
    max-height: 100vh !important;
    overflow-y: auto !important;
}

.mod-h1 {
    margin-bottom: 10px !important;
}

.mod-table-container {
    display: flex !important;
    gap: 20px !important;
    padding: 20px !important;
}

.mod-table-wrapper {
    flex: 1 !important;
}

.mod-table {
    width: 100% !important;
    border-collapse: collapse !important;
    text-align: center !important;
}

.mod-table-header {
    background-color: #f2f2f2 !important;
}

.mod-table-cell {
    border: 1px solid #ddd !important;
    padding: 8px !important;
}

.mod-table-cell.bold {
    font-weight: bold !important;
}


.edit-campaign-list {
  list-style-type: none !important;
  padding: 0 !important;
}

.edit-campaign-item {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 10px !important;
  padding: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
}

.mod-form-container{
margin-bottom: 10%;
justify-content: space-between;
}