.navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border-bottom: 2px solid #ccc; /* Adds a bottom border */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  padding-bottom: 10px; /* Adds spacing between content and border */
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-light {
  background-color: #777d83;
  color: white;
}

.btn-danger {
  background-color: #dc8635;
  color: white;
}
