
<ion-header>
  <!-- Toolbar for Navigation -->
  <ion-toolbar>
    <app-navigation></app-navigation>
  </ion-toolbar>

  <!-- Toolbar for Title -->
  <ion-toolbar class="title">
    <ion-title>Lista de Proyectos Asignados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="projects.length > 0; else noProjects">
    <ion-item *ngFor="let project of projects">
      <ion-label>
        <h2>
          <a (click)="viewProjectDetails(project)" class="linkproyect">
            <span class="project">{{ project.projectName }}</span>
          </a>
        </h2>
        <p>{{ project.projectDescription }}</p>
        <p><strong>Fecha de inicio:</strong> {{ project.startDate | date }}</p>
        <p><strong>Fecha de finalización:</strong> {{ project.endDate | date }}</p>
        <p><strong>Ubicación:</strong> {{ project.cityName }}, {{ project.provinceName }}</p>
        <p><strong>Tipo de proyecto:</strong> {{ project.projectType ? 'Muestreo' : 'Individual' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noProjects>
    <ion-item>
      <ion-label>No projects assigned to this user.</ion-label>
    </ion-item>
  </ng-template>
</ion-content>


